.profile {
    display: grid;
    grid-template-areas: "s c";
    grid-template-columns: 2fr 8fr;
    padding-top: 10px;

}

.subscribeWrapper {
    grid-area: s;
    background-color: rgb(74, 189, 135);
    margin: 0 auto;
}

.subscribeImg img{
    width: 70px;
}

/* .subscribe {
    margin: 0 auto;
} */

.content {
    grid-area: c;
    background-color: rgb(55, 68, 141);
    padding: 10px;
    margin-left: 10px;
}

.Selected {
    font-weight: bold;
    margin-right: 3px;
    margin-left: 3px;
}

.listNamberSelected {
    cursor: pointer
}

.status {
    padding-bottom: 30px;
}