.paginator {
    margin: 10px;
}
.pageNumber {
    padding: 2px;
    border: 1px solid rgb(180, 171, 171);
    border-radius: 5px;
}

.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
    margin-right: 3px;
    margin-left: 3px;
}
