.app-wrapper {
    margin: 0 auto;
    width: 1400px;
    display: grid;
    /* распределяем по столбцам */
    grid-template-areas: "m c";
    /* разбиваем на столбцы */
    grid-template-columns: 3fr 7fr;
}

.logo img {
    height: 150px;
}


