.appWrapper {
    margin: 0 auto;
    width: 1400px;
    display: grid;
    /* распределяем по столбцам на главном экране*/
    grid-template-areas: "n c";
    /* разбиваем на столбцы */
    grid-template-columns: 3fr 7fr;
}
.nav {
    grid-area: n;
    background-color: rgb(74, 189, 135);
}

.content {
    grid-area: c;
    background-color: rgb(175, 104, 104);
}



